@using Data.Models
@using aura_web_blazor.Services
@inject IOrderService OrderService
@inject NavigationManager UriHelper


<MudSimpleTable Elevation="0"  Style="overflow-x: auto; padding-bottom:0px" >

    <tbody>
        <tr>
            <td>Numri porosive:</td>
            <td style="font-weight:bolder; text-align:right;">@Orders.Where(d=>d.Kamarieri.Equals(Kamarieri)).Count().ToString()</td>
        </tr>
        <tr>
            <td>Porosia e parë:</td>
            <td style="font-weight:bolder; text-align:right;">@ReturnPorosiaPareFundit("pare")</td>
        </tr>
        <tr>
            <td>Porosia e fundit:</td>
            <td style="font-weight:bolder; text-align:right;">@ReturnPorosiaPareFundit("fundit")</td>
        </tr>
        <tr>
            <td colspan="2"><MudButton FullWidth="@true" OnClick="@(() => NavigateTo(@Kamarieri))" Color="Color.Primary" Variant="Variant.Filled">Shiko porositë e kamarierit</MudButton></td>
        </tr>

    </tbody>
</MudSimpleTable>


@code {


    [Parameter]
    public string? Kamarieri { get; set; }

    private IEnumerable<DetaletEFaturimit>? Orders;

    protected override async Task OnInitializedAsync()
    {
        Orders = (await OrderService.GetOrders()).ToList();
    }

    protected string ReturnSasiaPerProdukt(string Artikulli)
    {
        return Orders.Where(d => d.Artikulli.Equals(Artikulli)).Sum(d => int.Parse(d.Sasia)).ToString();;
    }

    protected string ReturnPorosiaPareFundit(string pareFundit)
    {

        return pareFundit.Equals("fundit") ? Orders.Where(d => d.Kamarieri.Equals(Kamarieri)).Max(d => d.Ora).ToString() : Orders.Where(d => d.Kamarieri.Equals(Kamarieri)).Min(d => d.Ora).ToString() ;
    }

    protected void NavigateTo(string Kamarieri)
    {
        UriHelper.NavigateTo("/kamarieri/"+Kamarieri);
    }
}