@using Data.Models
<MudText  Align="Align.Center" Style="margin-bottom:15px; font-size:16px; font-weight:bold;">Sipas Kamarierit</MudText>

<MudExpansionPanels Elevation="5" Style="overflow-x: auto;" Dense=true >

    
        @foreach (var kamarieri in GetSipasKamarieritTotal())
        {
           <MudExpansionPanel IsExpandedChanged="ExpandedChanged" >
               <TitleContent>
                   <div class="d-flex">
                       @*Change value of Kam when clicked*@
                       @*<MudText Style="@(isExpanded1?"font-size:18px":"font-size:14px")">@kamarieri.Kamarieri</MudText> *@
                       <MudText Style="font-size:14px">@kamarieri.Kamarieri</MudText> 
                       <MudSpacer></MudSpacer>
                       <MudText Style="font-size:14px; font-weight:bold">@kamarieri.Vlera.ToString(".00")€</MudText>
                   </div>
               </TitleContent>
               <ChildContent>
                   <SimpleTableKamarieriDetailsComponent Kamarieri="@kamarieri.Kamarieri"></SimpleTableKamarieriDetailsComponent>
               </ChildContent>
           </MudExpansionPanel>
           
        }
</MudExpansionPanels>

@code {
    public bool isExpanded1 { get; set; }

    private IEnumerable<DetaletEFaturimit> Orders;

    protected override async Task OnInitializedAsync()
    {
        Orders = await new Data.GetData().GetDetaletAsync();
    }

    public IEnumerable<KamDheVlerat> GetSipasKamarieritTotal()
    {
        IEnumerable<KamDheVlerat> kamarierat = from d in Orders
                                               group d by new
                                               {
                                                   d.kam
                                               } into grp
                                               select new KamDheVlerat()
                                                {
                                                    Kamarieri = grp.Key.kam,
                                                    Vlera = grp.Sum(s => decimal.Parse(s.vlera))
                                                };
        return kamarierat.OrderByDescending(p => p.Vlera).ToList();
    }

    private void ExpandedChanged()
    {
        isExpanded1 = !isExpanded1;
    }


    public partial class KamDheVlerat
    {
        public string Kamarieri { get; set; }
        public decimal Vlera { get; set; }
    }
}
