@inherits LayoutComponentBase
@inject NavigationManager UriHelper
<PageTitle>aura-web-blazor</PageTitle>

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="MyCustomTheme"/>

<MudLayout  Style="max-width:600px;" Class="mx-auto mt-5">
    <MudAppBar Elevation="1" Dense="true" >
        
             <MudButton Style="color:white;" OnClick="@(() => OpenDrawer(Anchor.Top))"><MudIcon Icon="@Icons.Material.Filled.Menu" OnClick="@(() => OpenDrawer(Anchor.Top))" Title="Favorite" /></MudButton> 
           <MudSpacer />
                 <MudText Style="text-align:center; margin-left:-50px; "><a style="color:white;" href="/">inTouch</a></MudText>
           <MudSpacer />
        

    </MudAppBar>
            
    <MudDrawer @bind-Open="@open" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">aura</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Icon="@Icons.Filled.Home" OnClick='(() => NavigateTo("/"))'>Faqja kryesore</MudNavLink>
        </MudNavMenu>
        <MudNavMenu>
            <MudNavLink Icon="@Icons.Filled.TableBar" OnClick='(() => NavigateTo("/tavolinat"))'>Shiko Tavolinat</MudNavLink>
        </MudNavMenu>
        <MudNavMenu>
            <MudNavLink Icon="@Icons.Filled.ListAlt" OnClick='(() => NavigateTo("/faturat"))'>Te gjitha porosite</MudNavLink>
        </MudNavMenu>
        <MudNavMenu>
            <MudNavLink Icon="@Icons.Filled.Assignment" OnClick='(() => NavigateTo("/produktet"))'>Produktet e mbledhura</MudNavLink>
        </MudNavMenu>
        <MudNavMenu>
            <MudNavLink Icon="@(_isDarkMode ? @Icons.Filled.LightMode : @Icons.Filled.DarkMode)" OnClick="(() => ChangeTheme())">Ndrysho ne @(_isDarkMode ? "Light Mode" : "Dark Mode")</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="mx-3"> 
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode = false;
    bool open;
    Anchor anchor;

    void OpenDrawer(Anchor anchor)
    {
        open = true;
        this.anchor = anchor;
    }

    void ChangeTheme()
    {
        _isDarkMode = !_isDarkMode;
        StateHasChanged();
    }

    void NavigateTo(string url){
        UriHelper.NavigateTo(url);
    }

    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Primary = Colors.Blue.Default,
            Secondary = Colors.Green.Accent4,
            AppbarBackground = Colors.Blue.Default,
        }
    };
}