@using Blazored.LocalStorage
@inherits LayoutComponentBase
@inject NavigationManager UriHelper
@inject IJSRuntime jsRuntime


<PageTitle>aura-web-blazor</PageTitle>


<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="@_currentTheme"/>

<MudLayout  Style="max-width:600px;" Class="mx-auto mt-5">
    <MudAppBar   Elevation="3" Dense="true"  Style="min-height:70px;">
    
         <MudGrid Spacing=@(0) Class="mt-3 " Justify="Justify.Center">
            <MudItem xs="4" Style="text-align:left;height:100%">
                <MudButton Style="color:white;width:100%;height:100%;"  OnClick="@(() => OpenDrawer(Anchor.Left))"><MudIcon Icon="@Icons.Material.Filled.Menu"  Style="text-align:left" Title="Menu" /></MudButton> 
            </MudItem>
            <MudItem xs="4" Style="text-align:center">
                <MudText Style="color:rgba(255,255,255,0.8);text-align:center:margin-top:55px" >@Title</MudText>
            </MudItem>
            <MudItem xs="4">
                <a @onclick="()=>RefreshPage()"  @onclick:preventDefault><MudButton Style="width:100%;height:100%"><MudIcon Style="color:white" Icon="@Icons.Material.Filled.Refresh"></MudIcon></MudButton></a>
                
            </MudItem>
        </MudGrid>
    @*<table style="width:100%;margin-top:20px;    ">
        <tr >
            <td width="15%" style="margin-top:50px;">
                <MudButton Style="color:white;" OnClick="@(() => OpenDrawer(Anchor.Left))"><MudIcon Icon="@Icons.Material.Filled.Menu"  Title="Menu" /></MudButton> 
                   
                </td>
            <td width="70%" style="margin-top:50px; text-align:center">
                       
                <MudButton Style="text-align:center"><MudText Style="text-align:center;"><a style="color:white;" href="/">inTouch</a></MudText></MudButton>
                  
            </td>
            <td width="15%">
                <a @onclick="()=>RefreshPage()" @onclick:preventDefault><MudButton><MudIcon Style="color:white" Icon="@Icons.Material.Filled.Refresh"></MudIcon></MudButton></a>
            </td>
        </tr>
        <tr >
            <td colspan="3"><MudText Style="color:rgba(255,255,255,0.8);text-align:center">@Title</MudText></td>
        </tr>
    </table>*@
                   
           

    </MudAppBar>
            
    <MudDrawer @bind-Open="@open" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">aura</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Icon="@Icons.Filled.Home" OnClick='(() => NavigateTo("/"))'>Faqja kryesore</MudNavLink>
        </MudNavMenu>
        <MudNavMenu>
            <MudNavLink Icon="@Icons.Filled.TableBar" OnClick='(() => NavigateTo("/tavolinat"))'>Shiko Tavolinat</MudNavLink>
        </MudNavMenu>
        <MudNavMenu>
            <MudNavLink Icon="@Icons.Filled.ListAlt" OnClick='(() => NavigateTo("/faturat"))'>Te gjitha porosite</MudNavLink>
        </MudNavMenu>
        <MudNavMenu>
            <MudNavLink Icon="@Icons.Filled.Assignment" OnClick='(() => NavigateTo("/produktet"))'>Produktet e shitura</MudNavLink>
        </MudNavMenu>
        <MudNavMenu>
            <MudNavLink Icon="@(_themeName != "light" ? @Icons.Filled.LightMode : @Icons.Filled.DarkMode)" OnClick="ChangeThemeAsync">Ndrysho ne @(_themeName == "light" ? "Dark Mode" : "Light Mode")</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="mx-3"> 
        @Body
    </MudMainContent>

    <aura_web_blazor.Components.FooterComponent MainColor="@(_themeName == "light" ?   appBarColorLight :"#393E46")"/>
</MudLayout>


@code{
    void RefreshPage()
    {
        UriHelper.NavigateTo(UriHelper.BaseUri,forceLoad:true);
    }
}


@code{
    public string Title = "";


}

@code {


    private MudTheme _theme = new();
    private bool _isDarkMode = false;
    bool open;
    Anchor anchor;
    Color AppBarColor;

    void OpenDrawer(Anchor anchor)
    {
        open = true;
        this.anchor = anchor;
    }

    

    void ChangeTheme()
    {
        _isDarkMode = !_isDarkMode;
        
        StateHasChanged();
    }

    void NavigateTo(string url){
        UriHelper.NavigateTo(url);
    }
 }

@code{
    
        [Inject]
        public ILocalStorageService LocalStorage { get; set; }

        static string appBarColorLight = "#30557a";

        protected async override Task OnAfterRenderAsync(bool firstTime)
        {
            Title = await jsRuntime.InvokeAsync<string>("getTitle");
            StateHasChanged();
        }
        protected async override Task OnInitializedAsync()
        {
            _currentTheme = _themeName == "light" ? _lightTheme : _darkTheme;
            if (await LocalStorage.ContainKeyAsync("theme"))
                _themeName = await LocalStorage.GetItemAsStringAsync("theme");
            else
                _themeName = "light";
            _currentTheme = _themeName == "light" ? _lightTheme : _darkTheme;
            StateHasChanged();
        }

        MudTheme _currentTheme = null;

        private string _themeName = "light";

        MudTheme _darkTheme = new MudTheme
        {
            Palette = new Palette
            {
                AppbarBackground = "#393E46",
                AppbarText = "#393E46",
                Primary = "#5190cf",
                TextPrimary = "#FFFFFF",
                Background = "#222831",
                TextSecondary = "#E2EEF6",
                DrawerBackground = "#393E46",
                DrawerText = "#FFFFFF",
                Surface = "#393E46",
                ActionDefault = "#0C1217",
                ActionDisabled = "#2F678C",
                TextDisabled = "#B0B0B0",
                TableLines = "#5E636D"
            }
        };
        
        MudTheme _lightTheme = new MudTheme
        {
            Palette = new Palette
            {
                AppbarBackground = appBarColorLight,
                AppbarText = "#FFFFFF",
                Primary = "#30557a",
                TextPrimary = "#0C1217",
                Background = "#F8f8f8",
                TextSecondary = "#0C1217",
                DrawerBackground = "#FFFFFF",
                DrawerText = "#0C1217",
                Surface = "#FFFFFF",
                ActionDefault = "#0C1217",
                ActionDisabled = "#2F678C",
                TextDisabled = "#676767",
            }
        };

        private async Task ChangeThemeAsync()
        {
            if (_themeName == "light")
            {
                _currentTheme = _darkTheme;
                _themeName = "dark";
            }
            else
            {
                _currentTheme = _lightTheme;
                _themeName = "light";
            }

            await LocalStorage.SetItemAsStringAsync("theme", _themeName);
        }
}